<link rel="stylesheet" href="/css/account/login.css">
<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>
<form action="/account/login" method="post">
    <label for="account_email">Email</label>
    <input type="email" name="account_email" id="account_email" required>
    <label for="account_password">Password</label>
    <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
    <button type="submit">Login</button>
</form>
<p>No Account? <a href="/account/registration">Sign-up</a></p>