@media (min-width: 600px) {
    .extra-info {
        grid-template-columns: 1fr 1fr;
    }
    .upgrades {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .reviews {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}