@media (min-width: 600px) {
    body {
        display: grid;
        justify-content: center;
        background-image: url(../images/site/checkerboard.jpg);
        background-size: 30rem;
    }
    #wrapper {
        width: 600px;
        background-color: #fff;
        border: solid 0.25rem #16a0c9;
    }
}