@media (min-width: 600px) {
    body {
        display: grid;
        justify-content: center;
        background-image: url(../images/site/checkerboard.jpg);
        background-size: 30rem;
    }
    #wrapper {
        width: 600px;
        background-color: #fff;
        border: solid 0.25rem #16a0c9;
    }

    .extra-info {
        grid-template-columns: 1fr 1fr;
    }
    .upgrades {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .reviews {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}