/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0.5rem;
}
.siteName a {
  font-size: 2rem;
  text-decoration: none;
  color: #191a26
}
#tools a {
  font-size: 1rem;
  text-decoration: none;
  color: #191a26
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #181924;
  margin: 0.5rem;
  padding: 1rem;
}
nav ul a {
  color: #d3d3d4;
  text-decoration: none;
}



footer p {
  margin-left: 1rem;
}