<link rel="stylesheet" href="/css/inventory/classification.css">
<link rel="stylesheet" href="/css/inventory/classification-large.css" media="screen">
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%- grid %>
<%# messages() %>