<link rel="stylesheet" href="/css/inventory/details.css">
<link rel="stylesheet" href="/css/inventory/details-large.css" media="screen">
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
<% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
<%  }) %>
    </ul>
<% } %>
<%- card %>